{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- All Trips page -->
    {% if all_trips %}
        <!-- Display a heading if there are trips, including their count -->
        <h2>{{ all_trips.count }} Shared Trips</h2>
        <section id="dashboard">
            {% for trip in all_trips %}

                <div class="post">
                    <!-- trip image if there is such, otherwise display the default one -->
                    <img src="{{ trip.image_url }}" alt="Cusco, Peru img"/>
                    <!-- trip destination -->
                    <h3 class="title">{{ trip.destination }}</h3>
                    <!-- trip start date in format "D d M Y" -->
                    <p class="description">{{ trip.start_date|date:"D d M Y" }}</p>
                    <!-- trip details button -->
                    <a class="details-btn" href="#">Details</a>
                </div>

            {% endfor %}
        </section>
    {% else %}
        <!-- Display a heading if there are NO trips -->
        <h2>No shared trips</h2>
    {% endif %}

{% endblock %}