{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Create Traveler's Profile Form (Only if no traveler's profile has been created) -->
    <section id="register">
        <div class="form">
            <h2>New Traveler's Profile</h2>
            <form class="register-form" method="" action="">
                <div>
                    <label for="id_nickname">Nickname:</label>

                    <div class="helptext" id="id_nickname_helptext">*Nicknames can contain only letters and
                        digits.
                    </div>

                    <input type="text" name="nickname" maxlength="30" placeholder="Enter a unique nickname..."
                           required aria-describedby="id_nickname_helptext" id="id_nickname">

                </div>

                <div>
                    <label for="id_email">Email:</label>

                    <input type="email" name="email" maxlength="30" placeholder="Enter a valid email address..."
                           required id="id_email">

                </div>

                <div>
                    <label for="id_country">Country:</label>

                    <input type="text" name="country" maxlength="3"
                           placeholder="Enter a country code like &lt;BGR&gt;..." required id="id_country">

                </div>

                <button type="submit">Create</button>

            </form>
        </div>
    </section>

{% endblock %}