{% extends 'base.html' %}
{% load static %}

{% block content %}

            <section id="edit">
                <div class="form">
                    <img class="dell-img" src="{% static 'images/del.png' %}g" alt="del" />
                    <h1>Do you like to delete your Organizer's Profile?</h1>
                    <p>*Note: If you have upcoming events, your profile will NOT be deleted!</p>

                    <form id='delete' class="register-form" method="post">

                        {{ form }}
                        {% csrf_token %}

                        <button type="submit">Yes, delete it!</button>

                    </form>
                </div>
            </section>

{% endblock %}
