{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section id="details">
        <div id="details-wrapper">

            <h2>{{ organizer.company_name }}</h2>

            <img id="details-img" src="{% static 'images/organizer-default.png' %}" alt="profile img"/>

            <p id="nutrition"><span>Phone: </span>{{ organizer.phone_number }}</p>

            {% if organizer.website %}
                <p id="nutrition"><span>Website: </span>{{ organizer.website }}</p>
            {% endif %}

            <div id="info-wrapper">
                <div id="details-description">

                    {% if events %}
                        <p><span>Upcoming Events:</span></p>

                        <ul>
                            {% for event in events %}
                                <li>{{ event.start_time|date:"Y-m-d H:i" }} {{ event.slogan }}
                                    @ {{ event.location }}</li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                </div>

                <div id="action-buttons">
                    <a href="{% url 'edit-organizer' %}" id="edit-btn">Edit</a>
                    <a href="{% url 'delete-organizer' %}" id="delete-btn">Delete</a>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

