{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if events %}
        <h2>We have {{ events.count }} events in total.</h2>
    {% else %}
        <h2>No events so far.</h2>
    {% endif %}

    <section id="dashboard">

        {% for event in events %}
            <div class="post">

                <h3 class="title">{{ event.slogan|truncatechars:20 }}</h3>

                {% if event.banner_url %}
                    <img src="{{ event.banner_url }}"
                         alt="{{ event.slogan|truncatechars:20 }} img"/>
                {% else %}
                    <img src="{% static 'images/event-default-img.png' %}"
                         alt="Event default img"/>
                {% endif %}

                <p class="description">{{ event.start_time|date:"D d M Y H:i" }}</p>

                <p class="description">{{ event.location }}</p>

                <a class="details-btn" href="{% url 'details-event' event_pk=event.pk %}">Click for more</a>
            </div>
        {% endfor %}

    </section>

{% endblock %}
