{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- profile details section -->
    <section id="car-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="car-header">

                {% if not user.profile_picture %}
                    <img class="car-img" src="{% static 'images/default-profile.png' %}" alt="profile-image"/>
                {% else %}
                    <img class="car-img" src="{{ user.profile_picture }}" alt="profile-image"/>
                {% endif %}

                <h1>{{ full_name }}</h1>
                <p class="description">Username: {{ user.username }}</p>
                <p class="description">Email: {{ user.email }}</p>
                <p class="description">Age: {{ user.age }}</p>
                <p class="description">Total price: {{ total_price|floatformat:3 }}</p>

                <div class="buttons">
                    <a href="{% url 'edit-profile' %}" class="edit-button">Edit</a>
                    <a href="#" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
