@import url('https://fonts.googleapis.com/ \
css2?family=Anton&family=Lato:ital, \
wght@0,100;0,300;0,400;0,700;0,900; \
1,100;1,300;1,400;1,700;1, \
900&family=Open+Sans:ital, \
wght@0,300..800;1,300..800&display=swap');

body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    box-shadow: 0 3px 8px -4px #ccc;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.logo-container img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
}

.login-nav-item * {
    display: inline-block;
    vertical-align: middle;
}

.login-btn {
    margin: 10px;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #565656;
}

.nav-link:hover {
    color: #FF9100;
    cursor: pointer;
}

.btn {
    background-color: #FF9100;
    color: white;
    border-radius: 14px;
    padding: 12px 16px;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 3px 8px -4px #ccc;
}

.intro {
    background-color: #FF9100;
    color: white;
    text-align: center;
    padding: 60px 120px 90px 120px;
}

.intro h1 {
    font-size: 50px;
}

.filters {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.filters-title {
    font-size: 22px;
}

.filters * {
    display: inline-block;
    vertical-align: middle;
}

.filters label input {
    border: 1px solid #FF9100;
    border-radius: 4px;
    padding: 12px;
    background-color: transparent;
    margin-left: 10px;
}

.filters label {
    position: relative;
}

.question_mark-icon {
    position: absolute;
    top: 12px;
    right: -25px;
}

.filters label::after {
    content: "";
    display: block;
    clear: both;
    background-image: url(images/input-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 11px;
    right: 7px;
}

.trainings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.training {
    margin: 20px;
    box-shadow: 0 1px 5px 0 #00000033;
    border-radius: 12px;
}

.training:nth-child(1) header,
.training:nth-child(3) header {
    background-color: #44A9F8;
    color: white;
}

.training:nth-child(2) header {
    background-color: #FF9100;
    color: white;
}

.training header {
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.training header h3 {
    text-align: center;
    padding: 80px 30px;
    font-size: 21px;
}

.training header span {
    background-color: #676781;
    border-radius: 6px;
    text-transform: uppercase;
    color: white;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.training:nth-child(3) header span {
    background-color: #9A5DC6;
}

