<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <title>FurryFunnies</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <!-- Navigation -->

        <!-- Logo image: a link to index/home page -->
        <a id="logo" href="#">
          <img id="logo-img" src="/static/images/logo.png" alt="logo" />
        </a>

        <nav>
          <!-- If there is an author's profile -->
          <div class="user">
            <a href="#">Dashboard</a>
            <a href="#">New Post</a>
            <a href="#">Author's Profile</a>
          </div>

          <!-- If author's profile has NOT been created -->
          <div class="guest">
            <a href="#">Create Author's Profile</a>
          </div>
        </nav>
      </header>

      <main>
        <section id="edit">
          <div class="form">
            <h1>You are about to delete your Author's Profile</h1>
            <!-- Delete Author's Profile Form -->

            <form id="delete" class="register-form" method="" action="">
              <!-- Confirm Button -->
              <button type="submit">Confirm</button>
            </form>
          </div>
          <!-- End Delete Form -->
        </section>
      </main>
    </div>

    <!-- footer -->
    <footer>
      <p>&copy; 2024 FurryFunnies by SoftUni Team. All rights reserved.</p>
    </footer>
  </body>
</html>
