<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <title>FurryFunnies</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <!-- Navigation -->

        <!-- Logo image: a link to index/home page -->
        <a id="logo" href="#">
          <img id="logo-img" src="/static/images/logo.png" alt="logo" />
        </a>

        <nav>
          <!-- If there is an author's profile -->
          <div class="user">
            <a href="#">Dashboard</a>
            <a href="#">New Post</a>
            <a href="#">Author's Profile</a>
          </div>

          <!-- If author's profile has NOT been created -->
          <div class="guest">
            <a href="#">Create Author's Profile</a>
          </div>
        </nav>
      </header>

      <main>
        <!-- Edit Post Form -->
        <section id="edit">
          <div class="form">
            <h2>Edit Post</h2>

            <form class="edit-form" method="" action="">
              <div>
                <label for="id_title">Title:</label>

                <input
                  type="text"
                  name="title"
                  value="My clever dog :)"
                  maxlength="50"
                  required
                  id="id_title"
                />
              </div>

              <div>
                <label for="id_image_url">Post Image URL:</label>

                <input
                  type="url"
                  name="image_url"
                  value="https://cdn.pixabay.com/photo/2024/04/05/19/04/ai-generated-8678034_1280.jpg"
                  maxlength="200"
                  required
                  id="id_image_url"
                />
              </div>

              <div>
                <label for="id_content">Content:</label>

                <textarea
                  name="content"
                  cols="40"
                  rows="10"
                  required
                  id="id_content"
                >
Einstein is the smartest dog ever!!!</textarea
                >
              </div>

              <!-- form button -->
              <button type="submit">Edit</button>
            </form>
          </div>
        </section>
      </main>
    </div>

    <!-- footer -->
    <footer>
      <p>&copy; 2024 FurryFunnies by SoftUni Team. All rights reserved.</p>
    </footer>
  </body>
</html>
