<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <title>Travelers Hub</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <!-- Navigation -->

            <!-- Logo image: a link to index/home page -->
            <a id="logo" href="#">
                <img id="logo-img" src="/static/images/logo-boeing.png" alt="logo" />
            </a>

            <nav>

                <!-- If there is a traveler's profile -->

                <div class="user">
                    <a href="#">All Trips</a>
                    <a href="#">Share Trip</a>
                    <a href="#">Traveler's Profile</a>
                </div>

                <!-- If the traveler's profile has NOT been created -->

                <div class="guest">
                    <a href="#">New Traveler's Profile</a>
                </div>

            </nav>
        </header>

        <main>

            <section id="edit">

                <div class="form">
                    <h1>Do you like to delete your Traveler's Profile?</h1>
                    <!-- Delete Traveler's Profile Form -->
                    <form id='delete' class="register-form" method="" action="">

                        <!-- Confirm Button -->
                        <button type="submit">Yes</button>

                    </form>
                </div>
                <!-- End Delete Form -->
            </section>

        </main>
    </div>
    <!-- footer -->
    <footer>
        <p>&copy; 2024 Travelers Hub by SoftUni Team. All rights reserved.</p>
    </footer>
</body>

</html>