{% extends "common/base.html" %}
{% load static %}

{% block content %}

    <section id="details">
        <div id="details-wrapper">
            <h2>Traveler's Profile</h2>

            <img id="details-img" src="{% static 'images/default-traveler.png' %}" alt="profile img"/>

            <p id="details-title">{{ traveler.nickname }}</p>

            <p id="nutrition"><span>Email: </span>{{ traveler.email }}<span> Country: </span>{{ traveler.country }}</p>

            <div id="info-wrapper">
                <div id="details-description">

                    {% if traveler.about_me %}
                        <p><span>About me: </span>{{ traveler.about_me }}</p>
                    {% endif %}

                    {% if all_trips %}
                        <p><span>Shared Trips:</span></p>

                        <ul>
                            {% for trip in all_trips %}
                                <li>{{ trip.destination }}: {{ trip.duration }} day/s, started
                                    on: {{ trip.start_date }}</li>
                            {% endfor %}
                        </ul>

                    {% endif %}

                </div>

                <div id="action-buttons">
                    <a href="{% url 'edit-traveler' %}" id="edit-btn">Edit</a>
                    <a href="{% url 'delete-traveler' %}" id="delete-btn">Delete</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
